<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1 class="black-text-shadow">TODO CATEGORIES</h1>
    <p class="text-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>

<div>
  <form class="formContainer">
    <div class="form-group">
      <input
        type="text"
        name="categoryName"
        placeholder="Enter New Category"
        class="form-control box-shadow"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-todo btn-block box-shadow">
      ADD
    </button>
  </form>
</div>

<div class="row categories-list">
  <div class="col-md-3">
    <div class="card box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <span class="badge bg-primary">CATEGORY</span>
          </div>
          <div class="cat-tools">
            <small><i class="fa fa-pencil-alt text-success"></i></small>
            <small><i class="fa fa-trash text-danger"></i></small>
          </div>
        </div>
        <div class="todo-content">
          <h3>Category</h3>
          <small class="text-secondary"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </small>
        </div>
        <span class="badge bg-danger">3 -Todos</span>
      </div>
    </div>
  </div>
</div>
