.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.formContainer input[type="text"] {
  background-color: #fefefe;
  padding-left: 20px;
}
.btn-todo {
  background-color: #e9eeff;
  color: #4772fe;
  border: none;
}

.card {
  border: none;
  border-left: 5px solid #000000;
  margin-top: 10px;
  border-top-left-radius: 30px;
}

.bg-primary {
  color: #4772fe;
  background-color: #e9eeff !important;
}

.bg-danger {
  background-color: #e9eeff !important;
  color: #f04141;
  margin-top: 50px;
}
.cat-tools {
  display: none;
}

.cat-tools i {
  margin: 0px 8px;
  cursor: pointer;
  font-size: medium;
}

.categories-list .card:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.categories-list .card:hover .cat-tools {
  display: inline-block;
}
